<strong>
    <a href='https://github.com/Jiseoup/DRF-Practice'>
        🚀 프로젝트 소스 코드 바로가기
    </a>
</strong>

<details>
<summary><strong>📌 Django REST Framework 개발부터 배포까지 시리즈 몰아보기</strong></summary>

<ul>
    <li>
        <a href='https://devpro.kr/posts/drf-project-part1/'>[Django REST Framework 개발부터 배포까지] (1) 프로젝트 준비</a>
    </li>

    <li>
        <a href='https://devpro.kr/posts/drf-project-part2/'>[Django REST Framework 개발부터 배포까지] (2) 데이터베이스 구성과 연결</a>
    </li>

    <li>
        <a href='https://devpro.kr/posts/drf-project-part3/'>[Django REST Framework 개발부터 배포까지] (3) Django ORM 파헤치기</a>
    </li>

    <li>
        <a href='https://devpro.kr/posts/drf-project-part4/'>[Django REST Framework 개발부터 배포까지] (4) JWT를 활용한 유저 기능 API 구현 - Part 1</a>
    </li>

    <li>
        <a href='https://devpro.kr/posts/drf-project-part5/'>[Django REST Framework 개발부터 배포까지] (5) JWT를 활용한 유저 기능 API 구현 - Part 2</a>
    </li>
</ul>
</details>
